import { createApp } from 'vue'
import App from './App.vue'
import router from './router'
{% if has_auth %}
import { createPinia } from 'pinia'
{% endif %}
import './style.css'

const app = createApp(App)

{% if has_auth %}
app.use(createPinia())
{% endif %}
app.use(router)

app.mount('#app')