import React from 'react'
import { BrowserRouter as Router, Routes, Route } from 'react-router-dom'
import Layout from './components/Layout'
import Home from './pages/Home'
{% if has_auth %}
import Login from './pages/Login'
import Dashboard from './pages/Dashboard'
import ProtectedRoute from './auth/ProtectedRoute'
{% endif %}
import './App.css'

function App(){% if is_typescript %}: JSX.Element{% endif %} {
  return (
    <Router>
      <Layout>
        <Routes>
          <Route path="/" element={<Home />} />
          {% if has_auth %}
          <Route path="/login" element={<Login />} />
          <Route 
            path="/dashboard" 
            element={
              <ProtectedRoute>
                <Dashboard />
              </ProtectedRoute>
            } 
          />
          {% endif %}
        </Routes>
      </Layout>
    </Router>
  )
}

export default App